<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <productNumber>srm - system</productNumber>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/srm/home">srm</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/srm/supplier/list">suppliers</a>
                </li>
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/srm/product/list">products</a>
                </li>
            </ul>

        </div>
    </nav>

    <div style="padding-top:1em;" class="container">
        <div style="margin-bottom: 1em;">
            <span style="font-size: 2em; color: #32a5e7;">Edit product</span>
        </div>

        <form id="newproductForm" method="post" action="/srm/product/new" th:object="${product}">
            <fieldset>
                <input type="hidden" name="productId" th:value="${product.productId}"/>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="productNumber">product Number</label>

                            <input id="productNumber" name="productNumber" type="number" class="form-control"
                                   th:value="${product.productNumber}">
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="name"> Name</label>

                        <input id="name" name="name" type="text" class="form-control" th:value="${product.name}">
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="unitPrice">unit Price</label>

                            <input id="unitPrice" name="unitPrice" type="number" class="form-control"
                                   th:value="${product.unitPrice}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quantityInStock"> quantity In Stock</label>

                            <input id="quantityInStock" name="quantityInStock" type="text" class="form-control" th:value="${product.quantityInStock}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateSupplied">date Supplied</label>

                            <input id="dateSupplied" name="dateSupplied" type="date" class="form-control"
                                   th:value="${product.dateSupplied}">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="supplier">Supplier</label>

                            <select id ="supplier"class="browser-default custom-select" th:field="*{supplier}">
                                <option value="" selected>Select a supplier</option>
                                <option  th:value="${supplier.supplierId}" th:each="supplier,iterStat : ${suppliers}" th:text="${supplier.name}" value="" ></option>

                            </select>
                        </div>
                    </div>
                </div>

                <div style="float:right;">
                    <a href="/srm/product/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save product</button>
                </div>
            </fieldset>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Developed by abanoub kaiser : : : CS425-SWE</span>
            <span style="float:right;" class="text-muted">&copy; August 2019</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
